body,html{
	margin: 0;
	padding: 0;
	letter-spacing: 0.9px;
}
main{
	width: 160px;
	height: 600px;
	position:relative; 
	overflow:hidden; 
	display:none;
	box-sizing:border-box; 
	border:1px solid #333333;
	background: url(bg.jpg) no-repeat;
}
main a{
	width: 160px;
	height: 600px;
}

main a:hover #CtaBtn .cta-txt{
	color:#009CDE;
}
main a:hover #CtaBtn .cta-bg{
	background-color:#FFFFFF;
}

.cta-txt,
.cta-bg{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
}

section, section div{
	position: absolute;
	pointer-events: none;
}

#frame1 {
	background: url(bg.jpg) no-repeat;
}

#frame1, #frame2, #frame3 {
	width: 160px;
	height: 600px;
}

.logo{
  bottom: -5px;
  right: -1px;
}

.colors{
	width: 360px;
	height:650px;
	top: -30px;
	left: -550px;
}

.slide3{
	background-color:#003188;
}

.slide2,
.slide4 {
	background-color: #5b1782;
}

.slide4{
	left: -390px;
}

.slide1 {
	background-color:#009CDE;
	left: 190px;
}

#slides {
	width: 160px;
	height: 600px;
	position: relative;
	overflow: hidden;
}

/* ---------- DYNAMIC TEXT ---------- */

/* HEADER SECTION */
.header-wrap {
	position: relative !important;
	width: 160px;
	text-transform: uppercase;
}

.header-wrap * span {
	color: #ffff00;
}

.header-wrap > div {
	position: relative !important;
	padding-bottom: 6px;

	font-family: 'Conv_DharmaGothicE-BoldItalic';
	font-size: 28px;
	line-height: 0.8;
	color: #FFF;
	letter-spacing: 0.7px;
}

/* HEADER CLEARANCE */
.header-wrap > div:nth-child(1) {
	padding-top: 24px;
	padding-left: 20px;
}

.header-wrap > div:nth-child(2) {
	padding-left: 16px;
}

.header-wrap > div:nth-child(3) {
	padding-left: 12px;
}

.header-wrap > div:nth-child(4) {
	padding-left: 8px;
}

.header-wrap > div:nth-child(5) {
	padding-left: 8px;
}
/* ------------ */

/* CTA SECTION */
.cta {
	position: relative !important;
	display: inline-block;
	margin-left: 8px;
	margin-top: 6px;
}

.cta-txt {
	position: relative !important;
	display: inline-block;
	padding: 9px 13px;
	text-align: center;

	font-family: 'Conv_PayPalSansBig-Medium';
	font-size: 12px;
	line-height: 0.78;
    letter-spacing: -0.2px;
	color: #FFFFFF;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cta-bg {
	width: 100%;
	height: 100%;
	background-color: #009CDE;
	border-radius: 6px;
}
/* ------------ */
