body, html{
	padding: 0;
	margin: 0;
}

svg{
	width: 100%;
}

img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
    image-rendering: auto;
}

#main {
	width:160px; 
	height:600px; 
	background:#fff;
	position:relative; 
	overflow:hidden; 
	display:none;
	box-sizing:border-box; 
	border:1px solid #000;
	cursor: pointer;
}
#main *{
	position:absolute;
}

.bg {
	top: -32px;
	left: -297px;
}

.corners {
	width: 160px;
	height: 600px;
}

.slant1 {
	width: 23px;
	height: 136px;
}

.slant2 {
	width: 23px;
	height: 136px;
	bottom: 0;
	right: 0;
}

.cta{
    background-color: #ffffff;
    border-radius: 11px;
    top: 185px;
    left: 13px;
    width: 124px;
    height: 26px;
}
.gradient{
	background: -moz-linear-gradient(top,  rgba(0,48,135,1) 0%, rgba(0,48,135,1) 61%, rgba(0,48,135,0) 100%);
background: -webkit-linear-gradient(top,  rgba(0,48,135,1) 0%,rgba(0,48,135,1) 61%,rgba(0,48,135,0) 100%);
background: linear-gradient(to bottom,  rgba(0,48,135,1) 0%,rgba(0,48,135,1) 61%,rgba(0,48,135,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003087', endColorstr='#00003087',GradientType=0 );

	width: 160px;
	height: 250px;

}
.blue{
	width: 160px;
	height: 600px;
	background: #003087;
}
.sprite { background: url('sprite.png') no-repeat top left;  } 
.sprite.txt1 { background-position: 0 0; width: 145px; height: 55px; } 
.sprite.txt2 { background-position: -155px 0; width: 125px; height: 126px; } 
.sprite.txt3 { background-position: -290px 0; width: 140px; height: 149px; } 
.sprite.hashtag { background-position: -440px 0; width: 147px; height: 45px; } 
.sprite.logo { background-position: -597px 0; width: 129px; height: 43px; } 
.sprite.clock {background-position: -736px 0;width: 274px;height: 239px;top: 192px;left: -7px;} 


.sprite.txt1 {top: 23px;left: 11px;} 
.sprite.txt2 {top: 19px;left: 17px;} 
.sprite.txt3 {top: 23px;left: 9px;} 

.sprite.hashtag {top: 73px;left: 7px;} 
.sprite.logo {bottom: -4px;right: 9px;}

#cta-text{
    width: 100px;
    top: 3px;
    left: 12px;
} 